body{
font-family:Tahoma;
margin:0;
background:#f1f5f9;
direction:rtl;
}

header{
background:#1e3a8a;
color:white;
text-align:center;
padding:30px;
}

.home{
display:flex;
justify-content:center;
gap:40px;
margin-top:80px;
}

.btn{
background:#2563eb;
color:white;
border:none;
padding:18px 40px;
font-size:18px;
border-radius:8px;
cursor:pointer;
}

.btn:hover{
background:#1d4ed8;
}

.container{
padding:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
text-align:center;
}

.price{
margin:10px 0;
font-size:18px;
}

.orderbtn{
background:#16a34a;
color:white;
border:none;
padding:10px 20px;
border-radius:6px;
cursor:pointer;
}

.orderbtn:hover{
background:#15803d;
}
