body{
font-family:Arial;
direction:rtl;
background:#f4f6fb;
margin:0;
text-align:center;
}

.navbar{
background:#0b3d91;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

.navbar a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
margin-top:120px;
}

.buttons{
margin-top:40px;
}

.btn{
background:#0b3d91;
color:white;
padding:14px 30px;
border-radius:8px;
text-decoration:none;
display:inline-block;
margin:10px;
}

.form{
width:300px;
margin:auto;
display:flex;
flex-direction:column;
gap:10px;
}

input,select{
padding:10px;
}

button{
padding:12px;
background:#0b3d91;
color:white;
border:none;
cursor:pointer;
}

.title{
margin-top:40px;
}

.admin{
margin-top:100px;
}
