/*
==========================================================================================
  Tables
==========================================================================================
*/

.table {
  border-collapse: collapse;
  width: 100%;

  thead {
    text-align: left;

    th {}
  }

  tbody {
    td {}
  }
}
