/*
==========================================================================================
  Root
==========================================================================================
*/

html, body { min-height: 100vh; }

html {
  background: var(--color-background);
  font-size: 10px;
}

body {
  background-color: var(--color-white);
  font-family: var(--font-family-base), var(--font-family-fallback);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  color: var(--color-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  position: relative;
  min-width: var(--width-min);
}
